{% extends 'base.html.twig' %}
{% trans_default_domain 'register' %}
{% block title %}{{ 'register'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1>{{ 'register'|trans }}</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'password'|trans,
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
